<div class="info">
  <h1>Información</h1>
  <hr />
  <ul>
    <li>Sistema operativo: <strong>Windows 10</strong></li>
    <li>Version de node: <strong>v18.12.1</strong> </li>
    <li>Carpeta del proyecto: <strong>clase-28</strong> </li>
  </ul>
</div>